.image-avatar {
  border-radius: 50%;
  height: 100%;
  border: 1px solid #3182ce;
}

.round-image {
  border-radius: 50%;
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'font-serif', sans-serif, 'Inter';
}

.dark body {
  background: #1d1d1d !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
